a{
  display: inline-block;
}

button:focus{
  outline: none;
}
figure{
  margin: 0;
}

body{
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-position: left;
}

.header{
  height: 100px;
  padding: 36px 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(36px);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header__menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header__menu__item{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  border-bottom: 1px solid transparent;
  margin-left: 5%;
  transition: 0.25s;
}

.header__menu__item:first-child{
  margin: 0;
}

.header__menu__item:hover{
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.header__menu__item:last-child,
.header__menu__item:hover:last-child{
  border: none;
}

.header__lang{
  color: #000000;
  border-bottom: 1px solid transparent;
  transition: 0.25s;
}

.header__lang:hover{
  color: #000000;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.header__lang.active{
  color: #999999;
  pointer-events: none;
  cursor: auto;
}

.header__lang.active:hover{
  color: #999999;
  border-bottom: 1px solid transparent;
}

.verticalPage{
  padding-top: 100px;
}

.main__box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35vh 0 30vh;
}

.main__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
  position: relative;
}

.main__title::before,
.main__title::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 36px;
  background-color: #000000;
  top: 50%;
  transform: translateY(-50%);
}

.main__title::before{
  left: -60px;
}

.main__title::after{
  right: -60px;
}

.main__slides__fraim{
  height: 74px;
  overflow: hidden;
  text-align: center;
}

.main__slides {
  list-style-type: none;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  padding: 0;
}

.main__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 64px;
  line-height: 74px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.callToAction__box{
  display: flex;
}

.callToAction__left{
  width: 40%;
  background-color: #ffffff;
  border: 16px solid #f8f8f8;
  padding: 6% 5%;
}

.callToAction__left__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.callToAction__left__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 16px 0;
}

.callToAction__left__btn{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  padding: 20px 40px;
  margin-top: 20px;
  position: relative;
  transition: 0.4s;
  display: inline-flex;
  align-items: center;
}

.callToAction__left__btn:hover{
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.callToAction__left__btn i{
  margin-left: 24px;
  font-size: 36px;
}

.callToAction__right{
  width: 60%;
  background-color: #f8f8f8;
  border: 16px solid #ffffff;
}

.callToAction__right__box{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  top: 50%;
  transform: translateY(-53.3%);
}

.callToAction__right__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services,
.bar,
.haircuts{
  padding-top: 120px;
}

.services__title,
.bar__title,
.haircuts__title{
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
  color: #000000;
}

.services__info,
.bar__info,
.haircuts__info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__info__img,
.bar__info__img,
.haircuts__info__img{
  width: 100%;
}

.services__info__text,
.bar__info__text,
.haircuts__info__text{
  margin-top: 44px;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 100%;
  text-align: right;
  color: #999999;
}

.bar__info__text,
.haircuts__info__text{
  text-align: left;
}

.services__menu,
.bar__menu,
.haircuts__menu{
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__menu__item,
.bar__menu__item,
.haircuts__menu__item{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 8px 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
	color: #3d3d3d;
  transition: 0.4s;
}

.services__menu__box,
.bar__menu__box,
.haircuts__menu__box{
  display: flex;
  align-items: center;
  width: 90%;
  overflow: hidden;
}

.services__menu__item:hover,
.bar__menu__item:hover,
.haircuts__menu__item:hover{
  cursor: pointer;
	color: #000000;
}

.services__menu__text,
.bar__menu__text,
.haircuts__menu__text{
  position: relative;
  padding-right: 1vw;
}

.services__menu__text::after,
.bar__menu__text::after,
.haircuts__menu__text::after{
  position: absolute;
  content: '';
  right: -1000%;
  top: 50%;
  height: 1px;
  width: 1000%;
  background-color: #c5c4c4;
  transition: 0.4s;
}

.services__menu__item:hover .services__menu__text::after,
.bar__menu__item:hover .bar__menu__text::after,
.haircuts__menu__item:hover .haircuts__menu__text::after{
	background-color: #1c1c1f;
}

.services__menu__price,
.bar__menu__price,
.haircuts__menu__price{
  width: 10%;
  display: inline-block;
  text-align: right;
}

.services__menu__line,
.bar__menu__line,
.haircuts__menu__line{
  width: 0px;
  height: 1px;
	background-color: transparent;
	transition: 0.4s;
}

.services__menu__item:hover .services__menu__line,
.bar__menu__item:hover .bar__menu__line,
.haircuts__menu__item:hover .haircuts__menu__line{
  width: 1vw;
	background-color: #1c1c1f;
	margin-right: 1vw;
}

.services__menu__btn,
.haircuts__menu__btn{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 44px;
	padding: 20px 40px;
	background-color: #000000;
  border: 1px solid #000000;
  text-transform: uppercase;
	transition: 0.4s;
}

.haircuts__menu__btn{
  margin-left: 69%;
}

.services__menu__btn:hover,
.haircuts__menu__btn:hover{
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}

.team{
  padding-top: 120px;
}

.team__title{
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  line-height: 63px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

.team__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin-bottom: 90px;
}

.team__slider{
  position: relative;
  display: flex;
}

.slickPrev{
  position: absolute;
  left: -10%;
  top: 0;
  border: 16px solid #f8f8f8;
  background-color: #ffffff;
  background-image: url(../img/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 10%;
}

.slickNext{
  position: absolute;
  right: -10%;
  border: 16px solid #f8f8f8;
  background-color: #ffffff;
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 10%;
}

.team__box{
  display: flex;
}

.team__item__img{
  width: 50%;
  border: 16px solid #ffffff;
}

.team__item__info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vh;
}

.team__item__info__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.team__item__info__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 48px 0;
}

.team__item__info__btn{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 40px;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  transition: 0.4s;
}

.team__item__info__btn:hover{
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.totalLook{
  padding-top: 120px;
  padding-bottom: 35px;
}

.totalLook__title{
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  line-height: 63px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 90px;
}

.totalLook__box{
  width: 100%;
  display: flex;
  margin-bottom: 130px;
}

.totalLook__left{
  width: 60%;
  border: 16px solid #ffffff;
  background-color: #f8f8f8;
  
}

#totalLook__container{
  
}

.totalLook__right{
  width: 40%;
  border: 16px solid #f8f8f8;
  background-color: #ffffff;
  padding: 6% 5%;
}

.totalLook__right__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.totalLook__right__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 16px 0;
}

.totalLook__item,
.training__item{
  background-color: #ffffff;
  width: 100%;
  padding: 50px 70px 70px;
  position: relative;
}

.totalLook__icon{
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
}

.totalLook__item__title,
.training__item__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.totalLook__item__text,
.training__item__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin-top: 36px;
}

.totalLook__item__btn,
.training__item__btn{
  position: absolute;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12%;
  transition: 0.4s;
  z-index: 1;
}

.totalLook__item__btn:hover,
.training__item__btn:hover{
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.totalLook__item__btn i,
.training__item__btn i{
  font-size: 36px;
  line-height: 21px;
  margin-left: 24px;
}

.training{
  padding-top: 120px;
  padding-bottom: 90px;
}

.training__title{
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  line-height: 63px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

.training__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin-bottom: 90px;
}

.training__img{
  width: 100%;
}

.training__box{
  text-align: center;
}

.training__logo{
  margin-top: 150px;
}

#map{
  height: 300px;
  width: 100%;
}

.container-fluid.footer{
  height: auto;
}

.social{
  background-color: #ffffff;
}

.footer__social,
.footer__address,
.footer__contacts{
  display: flex;
  flex-direction: column;
  padding: 28px 0;
}

.footer__social__text,
.footer__address__work,
.footer__contacts__text{
  margin: 8px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: lowercase;
  color: #000000;
}

.footer__social__text:hover,
.footer__address__work:hover,
.footer__contacts__text:hover{
  color: #000000;
  text-decoration: none;
}

a.footer__social__text,
a.footer__contacts__text{
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}

a.footer__social__text:hover,
a.footer__contacts__text:hover{
  border-bottom: 1px solid #000000;
}

.footer__box__left{
  text-align: left;
}

.footer__address__work{
  text-align: center;
}

.footer__address__text{
  margin: 8px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  color: #000000;
}

.footer__box__right{
  text-align: right;
}

.footer__contacts__text{
  text-align: right;
}

.footer__credits{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.footer__credits__text{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #878787;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}

a.footer__credits__text:hover{
  color: #878787;
  text-decoration: none;
  border-bottom: 1px solid #878787;
}

@media(max-width: 1400px){

  .services__menu__box,
  .bar__menu__box,
  .haircuts__menu__box{
    width: 87%;
  }

  .services__menu__price,
  .bar__menu__price,
  .haircuts__menu__price{
    width: 13%;
  }

}

@media(max-width: 1200px){

  .main__text{
    font-size: 58px;
    line-height: 74px;
  }

  .callToAction__left__title{
    font-size: 22px;
    line-height: 28px;
  }
  
  .callToAction__left__text{
    font-size: 18px;
    line-height: 26px;
  }
  
  .callToAction__left__btn{
    font-size: 14px;
    line-height: 18px;
    padding: 15px 30px;
  }

  .services__menu__item,
.bar__menu__item,
.haircuts__menu__item{
  font-size: 16px;
  line-height: 24px;
}

  .team__item__info{
    padding: 0 5vh;
  }

}