.Roboto{
  font-family: 'Roboto Slab', serif;
}

.Gilroy{
  font-family: 'Gilroy', sans-serif;
}

a{
  display: inline-block;
}

body{
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-position: left;
}

.header{
  height: 100px;
  padding: 36px 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(36px);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header__menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header__menu__item{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  border-bottom: 1px solid transparent;
  margin-left: 5%;
  transition: 0.25s;
}

.header__menu__item:first-child{
  margin: 0;
}

.header__menu__item:hover{
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.header__menu__item:last-child,
.header__menu__item:hover:last-child{
  border: none;
}

.header__lang{
  color: #000000;
  border-bottom: 1px solid transparent;
  transition: 0.25s;
}

.header__lang:hover{
  color: #000000;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.header__lang.active{
  color: #999999;
  pointer-events: none;
  cursor: auto;
}

.header__lang.active:hover{
  color: #999999;
  border-bottom: 1px solid transparent;
}

.main{
  background-color: transparent;
}

.main__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 240px 0 190px;
}

.main__container__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
  position: relative;
}

.main__container__title::before,
.main__container__title::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 36px;
  background-color: #000000;
  top: 50%;
  transform: translateY(-50%);
}

.main__container__title::before{
  left: -60px;
}

.main__container__title::after{
  right: -60px;
}

.main__slides__fraim{
  height: 74px;
  overflow: hidden;
  text-align: center;
}

.main__slides {
  list-style-type: none;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  padding: 0;
}

.main__container__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 64px;
  line-height: 74px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.callToAction__container{
  display: flex;
}

.callToAction__left{
  width: 40%;
  background-color: #ffffff;
  border: 16px solid #f8f8f8;
  padding: 100px 110px;
}

.callToAction__left__title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.callToAction__left__text{
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 16px 0;
}

.callToAction__left__btn{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  padding: 20px 40px;
  margin-top: 20px;
  position: relative;
  transition: 0.4s;
  display: inline-flex;
  align-items: center;
}

.callToAction__left__btn:hover{
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.callToAction__left__btn i{
  margin-left: 24px;
  font-size: 36px;
}

.callToAction__right{
  width: 60%;
  background-color: #ffffff;
  border: 16px solid #ffffff;
}

.callToAction__right__box{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.callToAction__right__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}